{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container border border-3 border-success rounded-4 mt-4">
    <h1 class="mt-4">Log In</h1>
    <hr>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="form-group">{{ form|crispy }}</div>
        <div><button type="submit" class="btn btn-success">Login</button></div>
    </form>
    <div class="small-text"><p class="text-muted">Are You New? <a class="link ml-2" href="{% url 'signup' %}">Sign Up</a></div>
</div>
{% endblock %}